<div class="category-slider">
    <div class="category-slider__img-wrapper">
        <picture class="category-slider__img">
            <source srcset="/static/images/@@imgMobile, /static/images/@@imgMobile2x 2x" media="(max-width:640px)">
            <source srcset="/static/images/@@imgTablet, /static/images/@@imgTablet2x 2x" media="(max-width:1023px)">
            <img src="/static/images/@@img" srcset="/static/images/@@img, /static/images/@@img2x 2x" alt="@@alt"
                width="320" height="270">
        </picture>
    </div>
    <a class="category-slider__link" href="#" aria-label="@@aria-label" title="@@title-link">
        <h3 class="category-slider__title">@@title</h3>
    </a>
</div>