.button {
  cursor: pointer;

  display: flex;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
  background-color: #000000;

  text-align: center;
  justify-content: center;
  align-items: center;

  transition: background-color $duration linear;
  &:hover {
    background-color: #c29974;
  }

  &:active {

    background-color: #cfaf91;
  }

  &:disabled {
    user-select: none;
    background-color: #c1c1c1;
    color: #e1e1e1;
  }
}
