// slider

.slider {
  padding: 0 110px;
  min-width: 1180px;
  min-height: 500px;
}

.one-image-slider {
  float: right;
}

.slider-one-number {
  margin-top: 88px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 60px;
  line-height: 73px;
  color: #e3d8d0;
}

.slider-block-nav {
  margin-top: 14px;
  margin-left: 32px;
}

.slider-bottom-block {
  display: flex;
  position: relative;
  bottom: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #c29974;
  min-width: 1180px;
  min-height: 39px;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-one-title-big {
  width: 307px;
  padding-top: 181px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 44px;
  color: #1e0606;
}

.slider-one-title-small {
  padding: 20px 0px;
  font-family: "Crimson Text", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
}

.slider-button {
  width: 163px;
  height: 42px;
  margin: -2px 0px 89px -2px;
}

.text-block-slider {
  margin-left: 42px;
  margin-top: -3px;
}

.slider-button-page:hover {
  background-color: #715f5c;
}

.slider-button-page:active {
  background-color: #715f5c;
}

.slider-background {
  display: flex;
  position: relative;
}

.slider-background::before {
  content: "";
  z-index: -1;
  margin-top: 86px;
  position: absolute;
  display: block;
  width: 1180px;
  background-color: #eee4db;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider-block-item {
  width: 1px;
  margin-bottom: -4px;
}

.slider-block-item-page {
  border: none;
  display: inline-block;
  cursor: pointer;
  width: 31px;
  height: 3px;
  background-color: #d6cac2;
}

.slider-block-item-page-active {
  pointer-events: none;
  border: none;
  width: 31px;
  height: 3px;
  background-color: #715f5c;
}

.slider-block-item-page:hover {
  width: 31px;
  height: 3px;
  background-color: #715f5c;
}

// category-products 

.category-products {
  min-width: 1180px;
  min-height: 421px;
  padding: 89px 103px 39px 103px;
}

.category-products-title {
  margin-bottom: 30px;
  padding-left: 7px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
}

.category-products-block-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 7px;
}

.category-products-navigation {
  border: none;
  background-color: #e2f1f8;
  display: flex;
  width: 37px;
  height: 37px;
  margin-left: 6px;
  padding-left: 10px;
  margin-top: 34px;
}

.products-bottom-text {
  line-height: 1.4;
  width: 580px;
  min-height: 44px;
  padding-top: 31px;
  padding-left: 22px;
}

.category-products-navigation-block {
  display: flex;
}

.vector-slider {
  margin-top: 1px;
  cursor: pointer;
}

.category-products-navigation:hover path {
  stroke: #c29974;
}

.category-products-navigation:active {
  opacity: 0.5;
}

// guarantee

.guarantee {
  padding: 53px 210px 0px 110px;
  display: flex;
}

.guarantee-block {
  padding-left: 120px;
}

.guarantee-title {
  padding-top: 30px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
}

.guarantee-button {
  width: 149px;
  height: 40px;
  margin-top: -13px;
}

.guarantee-description {
  position: relative;
  top: -30px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.guarantee-list {
  bottom: 21px;
  position: relative;
  width: 326px;
  font-family: "Crimson Text", "Arial", sans-serif;
  font-style: italic;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.guarantee-item,
.guarantee-item-active {
  border: none;
  margin-bottom: 6px;
  font-family: "Crimson Text", "Arial", sans-serif;
  font-style: italic;
  font-size: 26px;
  line-height: 44px;
  color: #1e0606;
}
.guarantee-item {
  cursor: pointer;
  background-color: transparent;
  padding-left: 0px;
}

.guarantee-item-active {
  text-align: left;
  font-weight: bold;
  position: relative;
  right: 60px;
  width: 326px;
  height: 55px;
  background-color: #e2f1f8;
  padding-left: 60px;
}

.guarantee-item:hover {
  font-weight: bold;
}

// partners

.parters-block {
  padding: 73px 110px 0px 110px;
}

.parters-block-list {
  display: flex;
}

.parters-block-item {
  padding-right: 127px;
}

.parters-block-item:nth-child(3) {
  margin-top: 7px;
}

.parters-block-item:nth-child(4) {
  margin-top: 7px;
}

.parters-block-link:hover {
  opacity: 0.75;
}

// information

.information {
  padding: 69px 147px 0px 110px;
  display: flex;
}

.about-us {
  width: 543px;
  margin-bottom: 135px;
}

.contacts {
  width: 543px;
  margin-left: 57px;
  margin-bottom: 52px;
}

.information-title-contacts,
.information-title-design {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
}

.information-title-contacts {
  padding-left: 30px;
}

.information-title-design {
  margin-bottom: 10px;
  padding-left: 30px;
}

.information-title-small {
  margin-top: 15px;
  padding-left: 30px;
  font-family: "Crimson Text", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.information-button {
  width: 123px;
  height: 40px;
  margin: 20px 0px 35px 30px;
}

.maps {
  margin-left: 30px;
  margin-top: 20px;
}

.information-description-contacts {
  width: 503px;
  padding-top: 22px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.information-description-about {
  width: 500px;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.information-background-about-us,
.information-background-contacts {
  position: relative;
}

.information-background-about-us::before,
.information-background-contacts::before {
  content: "";
  z-index: -1;
  margin-top: 26px;
  position: absolute;
  background-color: #e1f0f7;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.information-background-about-us::before {
  margin-bottom: -35px;
}

.information-background-contacts::before {
  margin-bottom: -100px;
}

// popup

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(125, 151, 218, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.popup-open .popup {
  display: flex;
}

.popup-form {
  position: relative;
  padding: 20px 41px 39px;
  background-color: #e5eaf8;
  max-width: 680px;
  min-height: 540px;
  margin-bottom: 159px;
}
.input-label {
  user-select: none;
  margin-bottom: 6px;
  display: block;
  margin-top: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #1e0606;
}

.inputs-row-two {
  display: flex;
}

.input-item::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}

.input-item {
  padding: 14px 20px 11px;
  display: block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}

.input-item:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.checkbox-input {
  opacity: 0;
  position: absolute;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;
}

.checkbox-block input[type="checkbox"]:focus + label {
  outline: 1px solid rgb(0, 0, 0);   
}

.checkbox-block {
  display: flex;
  padding: 22px 15px 20px 0px;
}

.checkbox-text {
  padding-left: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #1e0606;
}

.input-label-checkbox {
  margin-top: -5px;
  cursor: pointer;
  position: absolute;
}

.input-label-checkbox::before {
  margin-top: 3px;
  margin-right: 15px;
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-label-checkbox::after {
  color: #c29974;
  position: absolute;
  left: 3px;
  top: 3px;
  content: url(/static/images/Vector-contact-us-chack-box.png);
}

.checkbox-input:checked + .input-label-checkbox::after {
  content: "";
}

.popup-form-button-submit {
  width: 106px;
  height: 40px;
  margin-top: 20px;
}

.popup-form-button-close {
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  left: 101%;
  bottom: 100%;
  width: 0%;
  height: 0%;
}

.popup-form-button-close:hover {
  opacity: 0.6;
}

.popup-form-button-close:active {
  opacity: 0.4;
}

.popup-chackbox-text {
  user-select: none;
  position: relative;
  top: -4px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.contact-us-input-email {
  margin-left: 23px;
}

.contact-us-input-email-input,
.contact-us-input-phone {
  width: 290px;
  height: 50px;
  padding: 14px 20px 11px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}
.contact-us-input-item:hover,
.contact-us-input-phone:hover,
.contact-us-input-email-input:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.textarea {
  max-width: 600px;
  height: 150px;
}
