// slider

.slider {
  max-width: 1180px;
  max-height: 500px;

  &__item {
    margin-left: 42px;
    margin-top: -3px;
    display: flex;
  }

  &__content {
    display: block;
  }

  &__description {
    padding: 20px 0px;
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;

    color: #1e0606;
  }

  &__title {
    width: 307px;
    padding-top: 181px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 44px;

    color: #1e0606;
  }

  &__button {
    width: 163px;
    height: 42px;
    margin: -2px 0px 89px -2px;
  }

  &__image {
    float: right;
  }

  &__list {
    display: flex;
    position: relative;

    ::before {
      content: "";

      position: absolute;
      display: block;

      width: 1180px;

      background-color: #eee4db;

      left: 0;
      right: 0;
      top: 86px;
      bottom: 0;

      z-index: -1;
    }
  }

  &__bottom {
    display: flex;
    position: relative;

    padding: 12px;

    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #c29974;
  }

 &__text {
    color: #ffffff;

    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__nav {
    margin-top: 14px;
    margin-left: 32px;
  }
  &__page {
    margin-top: 88px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 60px;
    line-height: 73px;

    color: #e3d8d0;
  }
  &__nav-item {
    margin-bottom: -4px;
  }

  &__btv {
    border: none;
    cursor: pointer;

    display: inline-block;

    width: 31px;
    height: 3px;

    background-color: #d6cac2;

    &:hover {
      background-color: #715f5c;
    }

    &_current {
      pointer-events: none;
      border: none;

      width: 31px;
      height: 3px;

      background-color: #715f5c;
    }
  }
}

// category-products

.grid-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: -10px -4px -9px -2px;

  &__item {
    overflow: hidden;
    width: 25%;
    padding: 10px;
  }
}

.category {
  min-width: 1180px;
  min-height: 421px;
  padding: 89px 103px 39px 103px;

  &__title {
    margin-bottom: 30px;
    padding-left: 7px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;

    color: #1e0606;
  }
}

.navigation {
  display: flex;

  &__btv {
    cursor: pointer;
    border: none;

    background-color: #e2f1f8;

    width: 37px;
    height: 37px;

    margin-left: 6px;
    padding-left: 7px;
    margin-top: 34px;

    transition: stroke 0.14s linear;

    &:focus path {
      stroke: #c29974;
    }

    &:hover path {
      stroke: #c29974;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 22px;

    width: 580px;

    padding-top: 31px;
    padding-left: 22px;
  }
}

// guarantee

.guarantee {
  padding: 53px 210px 0px 110px;
  display: flex;

  &__content {
    padding-left: 120px;
  }

  &__title {
    padding-top: 30px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1e0606;
  }

  &__link {
    width: 149px;
    height: 40px;
    margin-top: -18px;
  }

  &__list {
    position: relative;

    bottom: 21px;

    width: 326px;

    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    color: #1e0606;
  }

  &__item {
    border: none;

    margin-bottom: 6px;

    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 44px;
    color: #1e0606;
  }
  &__item {
    cursor: pointer;
    background-color: transparent;
    padding-left: 0px;

    &:hover {
      font-weight: bold;
    }

    &_active {
      position: relative;

      padding-left: 60px;

      text-align: left;

      right: 60px;

      width: 326px;
      height: 55px;

      font-weight: bold;

      background-color: #e2f1f8;
    }
  }

  .text-content {
    p {
      margin: -29px 0px 44px;
      font-size: 16px;
      line-height: 22px;
      color: #1e0606;
    }
  }
}
// partners

.parters {
  flex-wrap: wrap;
  padding: 73px 110px 0px;

  &__list {
    display: flex;

    min-width: 1400px;
  }
  &__item {
    padding-right: 127px;
  }
  &__link {
    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.75;
    }
  }
}

// information

.information {
  padding: 69px 147px 9px 110px;

  display: flex;
}

.about-us {
  min-width: 543px;
  margin-bottom: 135px;
  position: relative;

  &:before {
    content: "";

    position: absolute;

    background-color: #e1f0f7;

    left: 0;
    right: 0;
    top: 26px;
    bottom: 12px;

    z-index: -1;
  }

&__title {
    margin-bottom: 10px;
    padding-left: 30px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1e0606;
  }

  &__subtitle {
    margin-top: 15px;
    padding-left: 30px;

    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1e0606;
  }

  &__link {
    width: 123px;
    height: 40px;

    margin: 20px 0px 35px 30px;
  }

  &__description {
    width: 500px;

    padding-top: 10px;
    padding-left: 30px;

    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
  }
}

.contacts {
  width: 543px;
 position: relative;
  margin-left: 57px;
  margin-bottom: 52px;

  &::before {
    content: "";

    position: absolute;

    background-color: #e1f0f7;

    left: 0;
    right: 0;
    top: 27px;
    bottom: 121px;

    z-index: -1;
  }

  &__title {
    padding-left: 30px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1e0606;
  }

  &__maps {
    margin-left: 30px;
    margin-top: 20px;
    min-width:483px;
    min-height:200px;
 
  }

  &__description {
    width: 503px;

    padding-top: 22px;
    padding-left: 30px;

    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
  }

}

// popup
.popup-open .popup {
  display: flex;
}

.popup {
  display: none;
  position: fixed;

  justify-content: center;
  align-items: center;

  background: rgba(125, 151, 218, 0.8);

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  z-index: 100;

  &__form {
    position: relative;
    padding: 23px 38px 39px;
    background-color: #e5eaf8;
    max-width: 680px;
    min-height: 540px;
    margin-bottom: 169px;
  }

  &__label {
    user-select: none;
    margin-bottom: 6px;
    display: block;
    margin-top: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #1e0606;
  }

  &__input {
    padding: 11px 20px 11px;
    display: block;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }

    &_email,
    &_phone {
      width: 290px;
      height: 50px;
      padding: 14px 20px 11px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      background-color: #ffffff;
      font-size: 18px;
      line-height: 25px;
      color: #1e0606;
    }
  }

  &__button {
    width: 106px;
    height: 40px;
    margin-top: 41px;
  }

  &__close {
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    left: 100.5%;
    bottom: 96.5%;

    :hover {
      opacity: 0.6;
    }

    :active {
      opacity: 0.4;
    }
  }
    &__close-img {
      border: none;
      cursor: pointer;
      background-color: transparent;
      position: absolute;
      left: 100.5%;
      bottom: 96.5%;
    }
  
  &__row {
    display: flex;
  }

&__item {
  &_email {
    margin-left: 23px;
  }

  &_textarea {
    max-width: 600px;
    height: 150px;
  }

}
}

.checkbox {
  display: flex;
  margin: 18px 0px 3px 2px;

  &__input {
    opacity: 0;
    position: absolute;
    border: 2px solid #c29974;
    box-sizing: border-box;
    border-radius: 3px;
  }

  &__input[type="checkbox"]:focus + label {
    outline: 1px solid rgb(0, 0, 0);
  }

  &__input:checked + &__label::after {
    content: "";
  }

  &__text {
    color: #1e0606;

    user-select: none;
    position: relative;
    top: -4px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 19px;
  }

  &__label {
    cursor: pointer;
    position: absolute;

    &::before {
      margin-top: 3px;
      margin-right: 15px;
      display: inline-block;
      content: "";
      width: 19px;
      height: 19px;
      border: 2px solid #c29974;
      box-sizing: border-box;
      border-radius: 3px;
    }

    &::after {
      color: #c29974;
      position: absolute;
      left: 3px;
      top: 3px;
      content: url(/static/images/Vector-contact-us-chack-box.png);
    }
  }
}
