.navigation {
  padding-left: 110px;

  &__title {
    margin-top: 18px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
    color: #1e0606;
  }

  &__breadcrumbs {
    display: flex;
    padding: 9px 8px 0px 0px;
  }

  &__link {
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;

    transition: opacity .4s linear;

  &:hover {
    opacity: 0.5;
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  }
  &__item {
    &::after {
      content: url(/static/images/Vector-Stroke.png);
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.blog {
  padding-left: 110px;
  padding-right: 110px;

  &__content {
    width: 1250px;
    padding-top: 15px;
  }
}

.grid-list {
  flex-wrap: wrap;
  display: flex;

  &__item {
    overflow: hidden;
    width: 32%;
    padding-bottom: 34px;
  }
}

.pagination {
  padding: 0 104px 42px 103px;
  justify-content: space-between;
  align-items: center;
  display: flex;

  &__list {
    display: flex;
    padding: 3px 42px 2px 101px;
  }

  &__item {
    margin-top: -15px;
    padding-right: 55px;
  }

  &__page {
    border: none;
    background-color: transparent;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: #1e0606;

    transition: opacity .4s linear;

    &:focus {
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.5;
    }
    
  &_current {
    pointer-events: none;
    color: #c29974;
  }
  }

  &__btv {
    border: none;
    background-color: transparent;
    margin-top: -15px;
    cursor: pointer;

    &:focus path {
      stroke: #c29974;
    }

    &:hover path {
      stroke: #c29974;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
