.category-card {
  max-width: 280px;
  max-height: 270px;
 display: flex;

  &__img {
    position: absolute;
    z-index: -1;
  }

  &__title {
    display: flex;
    overflow: hidden;

    max-width: 190px;
    margin: auto;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    text-align: center;

    align-items: center;
    justify-content: center;
  }

  &__link {
    cursor: pointer;

    display: flex;

    min-width: 280px;
    min-height: 270px;

    &:hover,
    &:active {
      text-decoration: underline;
      color: #ffffff;
    }
  }
}
