.blog-card {

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100.5%;
    height: 100.5%;
    max-width: initial;
  }

  &__img-wrapper {
    margin-bottom: 21px;
    position: relative;
    padding-top: 57.5%;
    background-color: #a7a7a7;

    @media screen and (max-width: $md) {
      margin-bottom: 14px;
    }

    @media screen and (max-width: $sm) {
      margin-bottom: 9px;
    }
  }

  &__date {
    font-size: 16px;
    line-height: 22px;
    color: #818181;

    @media screen and (max-width: $sm) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__title {
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 15px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 24px;
    line-height: 31px;
    color: #1e0606;

    @media screen and (max-width: $md) {
      padding-bottom: 6px;
    }

    @media screen and (max-width: $sm) {
      padding-top: 2px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__link:hover,
  &__link:active {
    cursor: pointer;
    text-decoration: underline;
    color: #000000;
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;

    @media screen and (max-width: $md) {
      margin-bottom: -3px;
    }
    @media screen and (max-width: $sm) {
      margin-bottom: -5px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
