<div class="blog-card">
    <a class="blog-card__link" href="@@link" aria-label="Go to learn more" title="Learn more">
        <div class="blog-card__img-wrapper">
            <picture class="blog-card__img">
                <source srcset="/static/images/@@imgMobile, /static/images/@@imgMobile2x 2x" media="(max-width:375px)">
                <source srcset="/static/images/@@imgTablet, /static/images/@@imgTablet2x 2x" media="(max-width:768px)">
                <img src="/static/images/@@img" srcset="/static/images/@@img, /static/images/@@img2x 2x" alt="@@alt"
                    width="380" height="220">
            </picture>
        </div>
        <span class="blog-card__date">@@date</span>
        <h2 class="blog-card__title">@@title</h2>
    </a>
    <p class="blog-card__description">@@text</p>
</div>