<div class="blog-card">
    <a class="blog-card__link" href="@@link" aria-label="Go to learn more" title="Learn more">
        <div class="blog-card__img-wrapper">
            <picture class="blog-card__img">
                <source srcset="/static/images/@@imgMobile 585w, /static/images/@@imgMobile2x 1170w" media="(max-width:640px)" sizes="170vw">
                <source srcset="/static/images/@@imgTablet 408w, /static/images/@@imgTablet2x 816w" media="(max-width:1023px)" sizes="61vw">
                <img src="/static/images/@@img" srcset="/static/images/@@img 249w, /static/images/@@img2x 498w" alt="@@alt"
                sizes="249px">
            </picture>
        </div>
        <span class="blog-card__date">@@date</span>
        <h2 class="blog-card__title">@@title</h2>
    </a>
    <p class="blog-card__description">@@text</p>
</div>