.navigation {
  margin-top: -2px;
  padding-left: 110px;

  &__content {
    display: block;
  }

  &__title {
    margin-top: 22px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1e0606;
  }

  &__link{
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;

    transition: opacity .4s linear;

    &:hover {
      opacity: 0.5;
    }
    &_disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__item {
    &::after {
      content: url(/static/images/Vector-Stroke.png);
      padding: 0px 20px;
    }
  }
  &__breadcrumbs {
    display: flex;
  }

  }



.catalog {
  padding: 9px 192px 0 98px;

  &__contect {
    display: table;
  }
}

.grid-list {
  justify-content: start;
  display: flex;
  flex-wrap: wrap;

  &__item {
    overflow: hidden;
    width: 27%;
    padding: 10px;

    &:nth-child(6n + 4) {
      margin-left: 200px;
    }
  }
}

.description {
  padding: 32px 410px 41px 310px;

  &__title {
    padding-bottom: 25px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1e0606;
  }
}

.text-content {
  p {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
    width: 680px;
  }
}


