.catalog-block-title {
    margin-top: 22px;
    padding-left: 110px;
  }
  
  .catalog-block-navigation {
    margin-top: -2px;
    display: flex;
  }
  
  .catalog-title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1e0606;
  }
  .catalog-block {
    display: table;
  }
  
  .catalog-item-title {
    width: 190px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  }
  
  .catalog-navigation-link,
  .catalog-navigation-link-disabled {
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;
  }
  
  .catalog-navigation-item::after {
    content: url(/static/images/Vector-Stroke.png);
    padding: 0px 20px;
  }
  
  .catalog-navigation-list {
    display: flex;
  }
  
  .catalog-navigation-link:hover {
    opacity: 0.5;
  }
  
  .catalog-navigation-link-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .catalog {
    padding: 15px 210px 0px 90px;
  }
  
  .catalog-block-list {
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
  }
  
  .category-products-block-item {
    margin-left: 19px;
    margin-bottom: 25px;
    min-width: 280px;
    min-height: 270px;
  }
  
  .category-products-block-item:nth-child(6n + 4) {
    margin-left: 220px;
  }
  
  .catalog-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .catalog-item-link:hover {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
  }
  
  .product-description-block {
    padding: 13px 410px 41px 310px;
  }
  
  .product-description-title {
    padding-bottom: 25px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1e0606;
  }
  
  .product-description {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
    width: 680px;
  }
  
  .catalog-img {
    position: absolute;
    z-index: -1;
  }
  