.navigation {
  margin-top: -3px;
  margin-bottom: 47px;
  padding-left: 110px;

  &__content {
    display: block;
  }

  &__title {
    margin-top: 22px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1e0606;
  }

  &__link {
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;

    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.5;
    }

    &_disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__item {
    &::after {
      content: url(/static/images/Vector-Stroke.png);
      padding: 0px 17px;
    }
  }
  &__breadcrumbs {
    display: flex;
    margin-top: 15px;
  }
}

.grid {
  display: grid;
  height: 1550px;
  grid-template-areas: "";
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(12, 1fr);

  &__one {
    grid-column: 1/7;
    grid-row: 1/3;
    background: #ffffff;
  }

  &__two {
    grid-column: 7/13;
    grid-row: 1/3;
    background: #f7f8fa;
  }

  &__three {
    grid-column: 1/4;
    grid-row: 3/5;
    background: #ef5539;
  }

  &__four {
    grid-column: 4/10;
    grid-row: 3/5;
    background: #ffffff;
  }

  &__five {
    grid-column: 10/13;
    grid-row: 3/7;
    background: #8f75bc;
  }

  &__six {
    grid-column: 1/7;
    grid-row: 5/7;
    background: #93b7b7;
  }

  &__seven {
    grid-column: 7/10;
    grid-row: 5/7;
    background: #f7f8fa;
  }

  &__eight {
    grid-column: 1/4;
    background: #f7f8fa;
  }

  &__nine {
    grid-column: 4/13;
    background: #2c2c2c;
  }
}

.one {
  display: block;

  &__content {
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
  }

  &__title,
  &__description,
  &__link {
    position: relative;
    font-family: "Lato", "Arial", sans-serif;
  }

  &__inner {
    display: block;
    padding-left: 80px;
    padding-bottom: 7px;
  }

  &__title {
    bottom: 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #bcbcbe;
  }

  &__description {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2c3036;
  }

  &__link {
    top: 20px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #bcbcbe;

    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.6;
    }
  }

  &__img {
    padding: 85px 80px 0px 71px;
  }
}

.two {
  display: flex;
  align-items: center;
  text-align: center;

  &__content {
    margin-right: 125px;
    margin-left: 120px;
  }

  &__title,
  &__text,
  &__link {
    position: relative;
    font-family: "Lato", "Arial", sans-serif;
  }

  &__text {
    top: 15px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #bcbcbe;
  }

  &__title {
    top: 33px;

    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #2c3036;
  }

  &__link {
    top: 42px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #2198f4;

    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.6;
    }
  }
}

.three {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  &__content {
    display: block;
    margin-top: -40px;
  }

  &__title,
  &__link {
    position: relative;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: bold;
  }

  &__title {
    top: 10px;

    margin: auto;
    max-width: 170px;

    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
  }

  &__link {
    top: 25px;

    font-size: 12px;
    line-height: 14px;
    color: #ffc80a;

    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.6;
    }
  }
}

.four {
  display: flex;
  align-items: center;

  &__content {
    display: flex;
  }

  &__title,
  &__text,
  &__img,
  &__description,
  &__link {
    position: relative;
    font-family: "Lato", "Arial", sans-serif;
  }

  &__inner {
    width: 356px;
    height: 100%;
    display: block;
  }

  &__inner-2 {
    width: 225px;
    display: block;
    margin-left: 20px;
    margin-top: 17px;
  }

  &__text {
    left: 93px;
    top: 14px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #bcbcbe;
  }

  &__img {
    top: 93px;
  }
  &__title {
    top: 25px;

    max-width: 168px;
    margin: auto;

    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2c3036;
  }

  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #bcbcbe;
  }

  &__link {
    top: 16px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2198f4;

    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.6;
    }
  }
}

.five {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  z-index: 1;

  &__content {
    display: block;
    position: relative;
  }

  &__subtext,
  &__text,
  &__img,
  &__title,
  &__description,
  &__link {
    position: relative;
    font-family: "Lato", "Arial", sans-serif;
  }

  &__block {
    position: relative;
    bottom: 43px;
    min-width: 300px;
    min-height: 300px;
    &::before {
      content: "";

      position: absolute;

      background-repeat: no-repeat;
      background-image: url(/static/images/ellipse.svg);

      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      z-index: -2;
    }
  }

  &__subtext {
    top: 40px;

    display: block;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }

  &__text {
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 77px;
    height: 22px;

    top: 31px;
    background: #8972b6;
    border-radius: 11px;

    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
  }

  &__img {
    top: 45px;
  }

  &__title {
    bottom: 22px;

    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
  }

  &__description {
    margin: auto;
    bottom: 13px;

    max-width: 230px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }

  &__link {
    top: 17px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 159px;
    height: 53px;

    background: #ffc80c;
    border-radius: 27px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2c3036;

    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.6;
    }
  }
}

.six {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;

  &__text,
  &__img,
  &__title {
    position: relative;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: bold;
  }

  &__img {
    top: 70px;
  }

  &__text {
    margin: 15px 15px;
    padding: 3px 5px;

    width: 61px;
    height: 16px;

    text-align: center;
    align-items: center;

    font-size: 8px;
    line-height: 10px;
    color: #ffffff;

    background: #fa684f;
    border-radius: 3px;
  }

  &__title {
    top: 25px;

    max-width: 200px;
    margin: auto;

    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
  }
}

.seven {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  &__content {
    display: block;
  }

  &__link,
  &__img,
  &__title {
    position: relative;
    font-family: "Lato", "Arial", sans-serif;
  }

  &__img {
    bottom: 17px;
  }

  &__title {
    top: -11px;

    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #2c3036;
  }

  &__link {
    top: 6px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2198f4;

    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.6;
    }
  }
}

.eight {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  &__content {
    display: block;
    margin-right: 115px;
    margin-left: 115px;
  }

  &__link {
    position: relative;
    top: 10px;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #2c3036;

    transition: opacity 0.4s linear;
    &:hover {
      opacity: 0.6;
    }
  }
}

.nine {
  display: flex;
  align-items: center;
  justify-content: center;

  &__img,
  &__title {
    position: relative;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: bold;
  }

  &__img {
    right: 95px;
    top: -3px;
  }

  &__title {
    top: 5px;
    right: 17px;

    text-align: left;
    max-width: 189px;

    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
  }
}
