.toys-card {
  max-width: 393px;
  position: relative;

  &__title {
    padding-top: 29px;
    padding-bottom: 14px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1e0606;
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1e0606;
  }

  &__link:hover::after {
    content: "LEARN MORE";
    width: 207px;
    height: 207px;
    display: flex;
    position: absolute;
    background-color: #e5eaf8;
    left: 90px;
    bottom: 0;
    right: 0;
    top: 90px;
    opacity: 0.9;
  
    /* Текст */

    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #1e0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);

  }

  &__link:active::after {
    opacity: 0.67;
  }
}
