.header {
  padding: 50px 110px 40px 110px;
  display: flex;
  align-items: center;

  
  &__logo {
    transition:  opacity $duration linear;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4;
    }
  }
  &__list {
    flex-wrap: wrap;
    display: flex;
    margin-left: 60px;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    align-items: center;

    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1e0606;

    transition: opacity $duration linear;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__search {
    cursor: pointer;
    border: none;

    background: transparent;

    margin-left: auto;

    transition: opacity $duration linear;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__contact-us {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1e0606;

    margin-left: 20px;
    margin-right: 2px;

    transition: opacity $duration linear;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4;
    }
  }
}
