<header class="header container">
    <audio class="audio-fon" controls src="/static/images/fon.mp" loop autoplay></audio>
    <a href="/" class="header__logo"><img src="/static/images/logo.png" alt="Site logo"
            title="Go to Home"></a>
    <nav aria-label="Навигация по сайту" class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a href="/pages/catalog" class="header__link" title="Go to Catalog">Catalog</a>
            </li>
            <li class="header__item">
                <a href="/" class="header__link" title="Go to About Us">About Us</a>
            </li>
            <li class="header__item">
                <a href="/pages/blog" class="header__link" title="Go to Blog">Blog</a>
            </li>
            <li class="header__item">
                <a href="/pages/animation" class="header__link" title="Go to Animation">Animation</a>
            </li>
            <li class="header__item">
                <a href="/pages/svg" class="header__link" title="Go to Svg">Svg</a>
            </li>
            <li class="header__item">
                <a href="/pages/grid" class="header__link" title="Go to Grid">Grid</a>
            </li>
        </ul>
    </nav>
    <button class="header__search" type="button"><img src="/static/images/search.png" alt="search"
            title="Go to Search"></button>
    <a href="/pages/contact-us" class="header__contact-us" title="Go to Contact Us">Contact Us</a>
</header>