.navigation {
  padding-left: 110px;
  padding-right: 110px;

  &__title {
    word-spacing: 13px;
    margin-top: 18px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1e0606;
  }

  &__breadcrumbs {
    display: flex;
  }

  &__link {
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;

    transition: opacity .4s linear;

    &:hover {
      opacity: 0.5;
    }

    &_disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }


  &__item {
    &::after {
      content: url(/static/images/Vector-Stroke.png);
      padding: 0px 20px;
    }
  }
}

.text-content {
  padding-left: 120px;

  p {
    width: 384px;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
    margin-bottom: 20px;
  }

  span {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #c29974;
  }
}

.contact-us {
  display: flex;
  padding: 34px 64px 59px 109px;

  &__form {
    position: relative;
    padding: 21px 41px 29px;
    background-color: #e5eaf8;
    max-width: 685px;
    min-height: 542px;
  }

  &__submit {
    margin-top: -4px;
    width: 106px;
    height: 40px;
  }

  &__input {
    padding: 11px 20px 11px;
    display: block;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;

    &::placeholder {
      font-size: 18px;
      line-height: 25px;
      color: #1e0606;
    }

    &_email,
    &_phone {
      width: 290px;
      height: 50px;
      padding: 14px 20px 11px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      background-color: #ffffff;
      font-size: 18px;
      line-height: 25px;
      color: #1e0606;
    }

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }

    &_textarea {
      max-width: 600px;
      height: 150px;
    }  
  }

&__item {

  &_email {
    margin-left: 20px;
  }
}

  &__row {
    display: flex;
  }

  &__label {
    user-select: none;
    margin-bottom: 4px;
    display: block;
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #1e0606;
  }
}

.checkbox {
  display: flex;
  padding: 17px 0px 44px;

  &__input {
    opacity: 0;
    position: absolute;
    border: 2px solid #c29974;
    box-sizing: border-box;
    border-radius: 3px;
  }

  &__input[type="checkbox"]:focus + label {
    outline: 1px solid rgb(0, 0, 0);
  }

  &__input:checked + &__label::after {
    content: "";
  }

  &__text {
    color: #1e0606;

    user-select: none;
    position: relative;
    top: -4px;

    font-size: 14px;
    line-height: 19px;
  }

  &__label {
    cursor: pointer;
    position: absolute;

    &::before {
      margin-top: 3px;
      margin-right: 15px;
      display: inline-block;
      content: "";
      width: 19px;
      height: 19px;
      border: 2px solid #c29974;
      box-sizing: border-box;
      border-radius: 3px;
    }

    &::after {
      color: #c29974;
      position: absolute;
      left: 3px;
      top: 3px;
      content: url(/static/images/Vector-contact-us-chack-box.png);
    }
  }
}
