.contact-us-block {
    display: flex;
    padding: 34px 64px 59px 109px;
  }
  
  .contact-us-block-title {
    padding-left: 110px;
    padding-right: 110px;
  }
  
  .contact-us-title {
    word-spacing: 13px;
    margin-top: 18px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1e0606;
  }
  
  .contact-us-navigation-link:hover {
    opacity: 0.5;
  }
  
  .contact-us-navigation-list {
    display: flex;
  }
  
  .contact-us-navigation::after {
    content: url(/static/images/Vector-Stroke.png);
    padding: 0px 20px;
  }
  
  .contact-us-navigation-link,
  .contact-us-navigation-link-disabled {
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;
  }
  
  .contact-us-navigation-link-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }
  
  .contact-us-text-block {
    padding-left: 120px;
  }
  
  .contact-us-text-1,
  .contact-us-text-2 {
    width: 384px;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
    margin-bottom: 20px;
  }
  
  .contact-us-text-1 {
    min-height: 44px;
  }
  
  .contact-us-text-2 {
    min-height: 66px;
  }
  
  .contact-us-text-bottom {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #c29974;
  }
  
  .contact-us-form {
    position: relative;
    padding: 21px 41px 29px;
    background-color: #e5eaf8;
    max-width: 685px;
    min-height: 542px;
  }
  
  .form-button-submit {
    margin-top: -4px;
    width: 106px;
    height: 40px;
  }
  
  .contact-us-label-checkbox label {
    font-size: 14px;
    line-height: 19px;
  }
  .contact-us-label-checkbox {
    position: relative;
    cursor: pointer;
    margin-top: -3px;
  }
  
  .contact-us-label-checkbox::before {
    display: inline-block;
    content: "";
    width: 19px;
    height: 19px;
    margin-right: 15px;
    border: 2px solid #c29974;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .contact-us-label-checkbox::after {
    color: #c29974;
    position: absolute;
    left: 3px;
    content: url(/static/images/Vector-contact-us-chack-box.png);
  }
  
  .contact-us-checkbox-input:checked + .contact-us-label-checkbox::after {
    content: "";
  }
  
  .textarea {
    max-width: 600px;
    height: 150px;
  }
  
  .contact-us-input-item {
    padding: 11px 20px 11px;
    display: block;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;
  }
  
  .contact-us-input-email {
    margin-left: 20px;
  }
  
  .contact-us-input-email-input,
  .contact-us-input-phone {
    width: 290px;
    height: 50px;
    padding: 14px 20px 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;
  }
  
  .contact-us-input-phone:hover,
  .contact-us-input-email-input:hover,
  .contact-us-input-item:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  .contact-us-input-item::placeholder {
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;
  }
  
  .contact-us-chackbox-text {
    user-select: none;
    position: relative;
    top: -2px;
    font-size: 14px;
    line-height: 19px;
  }
  
  .input-label {
    user-select: none;
    margin-bottom: 4px;
    display: block;
    margin-top: 20px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #1e0606;
  }
  
  .inputs-row-two {
    display: flex;
  }
  
  .checkbox-block {
    display: flex;
    padding: 22px 15px 20px 0px;
  }
  
  .checkbox-block input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-block input[type="checkbox"]:focus + label {
    outline: 1px solid rgb(0, 0, 0);   
  }