.footer {
  padding: 0px 110px 100px 110px;
  background: #434343;
}

.footer-block {
  margin-right: auto;
  margin-left: auto;
  max-width: 1180px;
  max-height: 355px;
  display: flex;
}

.footer-block-bottom::before {
  margin-top: 55px;
  margin-bottom: 23px;
  content: "";
  display: block;
  height: 1px;
  background-color: #666666;
}

.footer-navigation {
  min-width: 380px;
  min-height: 281px;
  margin-right: 20px;
}

.footer-navigation-items {
  margin-bottom: 15px;
}

.footer-title {
  padding-top: 100px;
  padding-bottom: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #aaaaaa;
}

.footer-title::after {
  margin-top: 23px;
  content: "";
  display: block;
  height: 1px;
  background-color: #666666;
}

.footer-navigation-link {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer-navigation-link:hover {
  opacity: 0.5;
}

.footer-navigation-link:active {
  opacity: 0.2;
}

.web-desing,
.copyright,
.rating-title {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.web-desing {
  cursor: pointer;
  margin-left: 110px;
  color: #a2a2a2;
}

.web-desing:hover,
.web-desing:active {
  text-decoration-line: underline;
  color: #ffffff;
}

.copyright {
  padding-left: 155px;
  color: #ffffff;
}

.rating {
  display: flex;
}

.rating-title {
  padding-right: 25px;
  color: #ffffff;
}

.footer-block-bottom {
  max-width: 1180px;
  max-height: 355px;
  margin: 23px auto 0px auto;
}

.footer-button {
  width: 81px;
  height: 40px;
}

.form-block {
  margin-top: 12px;
  display: flex;
}

.footer-email {
  border: none;
  padding-left: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #ebebeb;
  width: 302px;
  height: 40px;
  background-color: #666666;
}

.rating-starts-list {
  display: flex;
  margin-left: 25px;
}

.footer-email::placeholder {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ebebeb;
}

.rating-stars-input {
  direction: rtl; 
  margin-top: 3px;
}
.rating-stars-input:not(:checked) > input {
  position: absolute;
  opacity: 0;
  left: -9999px;
}
.rating-stars-input:not(:checked) > label {
  margin-left: 1.7px;
  cursor: pointer;
}
.rating-stars-input:not(:checked) > label:before {
  content: url(static/Images/Star.svg);
}
.rating-stars-input > input:checked ~ label {
  content: url(static/Images/Star-hover.svg);
}
.rating-stars-input:not(:checked) > label:hover,
.rating-stars-input:not(:checked) > label:hover ~ label {
  content: url(static/Images/Star-active.svg);
}

.rating-stars-input > label:active {
  position: relative;
}

.rating-stars-input input[type="radio"]:focus + label {
  outline: 1px solid rgb(0, 0, 0);
}


.social-network-block-list {
  display: flex;
  margin-top: 24px;
}

.social-network-block-item {
  margin-right: 10px;
}

.social-network-block-link {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.social-network-block-link:hover {
  opacity: 0.4;
}

.social-network-block-link:active {
  opacity: 0.2;
}

.social-network-block-link.facebook {
  background-image: url(static/images/social/Facebook.svg);
}

.social-network-block-link.twitter {
  background-image: url(static/images/social/Twitter.svg);
}

.social-network-block-link.pinterest {
  background-image: url(static/images/social/Pinterest.svg);
}

.social-network-block-link.instagram {
  background-image: url(static/images/social/instagram.svg);
}
