.footer {
  background: #434343;
  padding: 100px 110px 100px 110px;

  @media screen and (max-width: $md) {
    padding: 80px 40px 80px 40px;
  }

  @media screen and (max-width: $sm) {
    padding: 70px 20px 70px 20px;
  }

  &__content {
    margin-left: 20px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $sm) {
      display: block;
      margin: auto;
    }
  }
}
.footer-navigation {
  max-width: 380px;
  width: 100%;
  margin-right: 20px;

  @media screen and (max-width: $md) {
    max-width: 202px;
  }

  @media screen and (max-width: $sm) {
    padding-bottom: 13px;
    max-width: 100%;
    display: block;
    margin-right: 0px;

    &:nth-child(3) {
      margin-top: 19px;
    }
  }

  &__list {
    @media screen and (max-width: $sm) {
      column-count: 2;
    }
  }

  &__items {
    margin-bottom: 15px;
  }

  h2 {
    padding-bottom: 12px;

    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #aaaaaa;

    @media screen and (max-width: $sm) {
      padding-top: 0;
      padding-bottom: 4px;
    }

    &::after {
      content: "";

      display: block;

      margin-top: 23px;

      height: 1px;

      background-color: #666666;

      @media screen and (max-width: $sm) {
        margin-top: 20px;
      }
    }
  }
  &__link {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

    transition: opacity $duration linear;

    @media screen and (max-width: $sm) {
      font-size: 14px;
      line-height: 19px;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }
  &__form {
    display: flex;
    margin-top: 12px;

    @media screen and (max-width: $sm) {
      margin-top: 23px;
    }
  }

  &__email {
    border: none;

    padding-left: 15px;

    font-size: 16px;
    line-height: 22px;

    max-width: 380px;
    width: 100%;

    color: #ebebeb;
    background-color: #666666;

    @media screen and (max-width: $md) {
      max-width: 125px;
    }

    @media screen and (max-width: $sm) {
      max-width: 263px;
    }

    &::placeholder {
      display: flex;

      font-size: 16px;

      align-items: center;
      color: #ebebeb;
    }
  }
  &__button {
    width: 81px;
    height: 40px;

    @media screen and (max-width: $sm) {
      width: 72px;
      height: 38px;
    }
  }
}

.social-network {
  &__list {
    display: flex;
    margin-top: 24px;

    @media screen and (max-width: $md) {
      margin-top: 27px;
    }

    @media screen and (max-width: $sm) {
      margin-top: 20px;
    }
  }

  &__item {
    margin-right: 10px;

    @media screen and (max-width: $sm) {
      margin-right: 13px;
    }
  }

  &__link {
    display: block;

    width: 30px;
    height: 30px;

    background-repeat: no-repeat;

    transition: opacity $duration linear;

    &:hover {
      opacity: 0.4;
    }
    &:focus {
      opacity: 0.4;
    }
    &:active {
      opacity: 0.2;
    }

    &:link.facebook {
      background-image: url(static/images/social/facebook.svg);
    }

    &:link.twitter {
      background-image: url(static/images/social/twitter.svg);
    }

    &:link.pinterest {
      background-image: url(static/images/social/pinterest.svg);
    }

    &:link.instagram {
      background-image: url(static/images/social/instagram.svg);
    }
  }
}

.footer-bottom {
  max-width: 1200px;
  margin: 23px auto 0px auto;

  @media screen and (max-width: $md) {
    margin: 36px 20px 0;
  }

  @media screen and (max-width: $sm) {
    margin: auto;
  }

  &::before {
    margin-top: -12px;
    margin-bottom: 23px;
    content: "";
    display: block;
    height: 1px;
    background-color: #666666;

    @media screen and (max-width: $sm) {
      margin-top: 29px;
      margin-bottom: 25px;
    }
  }

  &__rating-inner {
    display: flex;
  }

  &__content {
    display: flex;
    margin-left: 10px;

    @media screen and (max-width: $md) {
      display: block;
      margin-left: 0px;
    }
  }

  &__rating {
    padding-right: 26px;
    color: #ffffff;
  }

  &__web-desing,
  &__copyright,
  &__rating {
    font-size: 16px;
    line-height: 22px;

    align-items: center;
  }

  &__copyright {
    padding-left: 156px;
    color: #ffffff;

    @media screen and (max-width: $md) {
      padding: 15px 43px 15px 0px;
    }
  }

  &__inner {
    display: flex;

    @media screen and (max-width: $md) {
      display: flex;
    }

    @media screen and (max-width: $sm) {
      display: block;
    }
  }

  &__web-desing {
    cursor: pointer;

    margin-left: 110px;

    color: #a2a2a2;

    transition: color $duration linear;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: #ffffff;
    }

    @media screen and (max-width: $md) {
      margin-top: 15px;
      margin-left: 0;
    }

    @media screen and (max-width: $sm) {
      margin: 0px;
    }
  }
}

.rating {
  cursor: pointer;

  display: inline-block;
  direction: rtl;
  margin-top: 3px;
}
.rating__label::before {
  content: url(static/images/star.svg);
  margin-left: 1.7px;

  cursor: pointer;
}

.rating__input {
  position: absolute;
  opacity: 0;
  left: -9999px;

  &:focus + label {
    outline: 1px solid rgb(0, 0, 0);
  }
}
.rating__label:hover:before,
.rating__label:hover ~ .rating__label:before {
  content: url(static/images/star-hover.svg);
}

.rating__input:checked ~ .rating__label:before {
  content: url(static/images/star-active.svg);
}
