.footer {
  padding: 0px 110px 100px 110px;
  background: #434343;

  &__content {
    margin-right: auto;
    margin-left: auto;

    max-width: 1180px;
    max-height: 355px;

    display: flex;
  }
}
.footer-navigation {
  min-width: 380px;
  min-height: 281px;
  margin-right: 20px;

  &__items {
    margin-bottom: 15px;
  }

  h2 {
    padding-top: 100px;
    padding-bottom: 12px;

    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #aaaaaa;

    &::after {
      content: "";

      display: block;

      margin-top: 23px;

      height: 1px;

      background-color: #666666;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }
  &__form {
    display: flex;
    margin-top: 12px;
  }

  &__email {
    border: none;

    padding-left: 15px;

    font-size: 16px;
    line-height: 22px;

    width: 302px;
    height: 40px;

    color: #ebebeb;
    background-color: #666666;

    &::placeholder {
      display: flex;

      font-size: 16px;
      line-height: 22px;

      align-items: center;
      color: #ebebeb;
    }
  }
  &__button {
    width: 81px;
    height: 40px;
  }
}

.social-network {
  &__list {
    display: flex;
    margin-top: 24px;
  }

  &__item {
    margin-right: 10px;
  }

  &__link {
    display: block;

    width: 30px;
    height: 30px;

    background-repeat: no-repeat;

    &:hover {
      opacity: 0.4;
    }
    &:active {
      opacity: 0.2;
    }

    &:link.facebook {
      background-image: url(static/images/social/Facebook.svg);
    }

    &:link.twitter {
      background-image: url(static/images/social/Twitter.svg);
    }

    &:link.pinterest {
      background-image: url(static/images/social/Pinterest.svg);
    }

    &:link.instagram {
      background-image: url(static/images/social/instagram.svg);
    }
  }
}

.footer-bottom {
  max-width: 1180px;
  max-height: 355px;

  margin: 23px auto 0px auto;

  &::before {
    margin-top: 55px;
    margin-bottom: 23px;
    content: "";
    display: block;
    height: 1px;
    background-color: #666666;
  }
  &__web-desing,
  &__copyright,
  &__title {
    display: flex;

    font-size: 16px;
    line-height: 22px;

    align-items: center;
  }

  &__copyright {
    padding-left: 155px;
    color: #ffffff;
  }

  &__web-desing {
    cursor: pointer;

    margin-left: 110px;

    color: #a2a2a2;

    &:hover,
    &:active {
      text-decoration-line: underline;
      color: #ffffff;
    }
  }

  .rating {
    display: flex;

    &__title {
      padding-right: 25px;
      color: #ffffff;
    }
    &__input {
      direction: rtl;
      margin-top: 3px;
    }
    &__input:not(:checked) > input {
      position: absolute;

      opacity: 0;
      left: -9999px;
    }
    &__input:not(:checked) > label {
      margin-left: 1.7px;
      cursor: pointer;
    }
    &__input:not(:checked) > label:before {
      content: url(static/Images/Star.svg);
    }
    &__input > input:checked ~ label {
      content: url(static/Images/Star-hover.svg);
    }
    &__input:not(:checked) > label:hover,
    &__input:not(:checked) > label:hover ~ label {
      content: url(static/Images/Star-active.svg);
    }

    &__input > label:active {
      position: relative;
    }

    &__input input[type="radio"]:focus + label {
      outline: 1px solid rgb(0, 0, 0);
    }
  }
}
