

<footer class="footer">
    <div class="footer__content ">
        <section class="footer-navigation">
            <h2>Navigation</h2>
            <ul class="footer-navigation__list">
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go to About Us">About Us</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="/pages/blog" title="Go to Blog">Blog</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go to Design Services">Design Services</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go to Featured On">Featured On</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go to 2018 Holiday Catalog">2018 Holiday
                        Catalog</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go to Shop By Designer">Shop By Designer</a>
                </li>
            </ul>
        </section>
 
        <section class="footer-navigation">
            <h2>Customer Information</h2>
            <ul class="footer-navigation__list">
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="/pages/contact-us" title="Go toContact Us">Contact Us</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go to Sale Exclusions">Sale Exclusions</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go to Shipping & Returns">Shipping &
                        Returns</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go toTerms & Conditions">Terms &
                        Conditions</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go toPrivacy Policy">Privacy Policy</a>
                </li>
                <li class="footer-navigation__items">
                    <a class="footer-navigation__link" href="#" title="Go to Search">Search</a>
                </li>
            </ul>
        </section>
        <section class="footer-navigation">
            <h2>Connect</h2>
            <form class="footer-navigation__form" action="#">
                <input class="footer-navigation__email" type="text" placeholder="Email" title="Email">
                @@include("button/index.html", {
                    "class": "button footer-navigation__button",
                    "type": "submit",
                    "title": "JOIN",
                    "title-link": "Press join"
                    })
            </form>
            <div class="social-network">
                <ul class="social-network__list">
                    <li class="social-network__item">
                        <a href="#" class="social-network__link facebook" title="Go to Facebook">
                            <span class="visibility-hidden">Follow to Facebook</span>
                        </a>
                    </li>
                    <li class="social-network__item">
                        <a href="#" class="social-network__link twitter" title="Go to Twitter">
                            <span class="visibility-hidden">Follow to Twitter</span>
                        </a>
                    </li>
                    <li class="social-network__item">
                        <a href="#" class="social-network__link pinterest" title="Go to Painerest">
                            <span class="visibility-hidden" title="Painerest">Follow to Painerest</span>
                        </a>
                    </li>
                    <li class="social-network__item">
                        <a href="#" class="social-network__link instagram">
                            <span class="visibility-hidden" title="Go to Instagram">Follow to Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

 
    <div class="footer-bottom">       
        <div class="footer-bottom__content">
        <p class="footer-bottom__rating">Company Rating</p>
            <div class="rating">
                <input class="rating__input" type="radio" name="rating" id="stars-5" value="5">
                    <label class="rating__label" for="stars-5" title="Give a rating of 5"></label>
                    <input class="rating__input" type="radio" name="rating" id="stars-4" value="4">
                    <label class="rating__label" for="stars-4" title="Give a rating of 4"></label>
                    <input class="rating__input" type="radio" name="rating" id="stars-3" value="3">
                    <label class="rating__label" for="stars-3" title="Give a rating of 3"></label>
                    <input class="rating__input" type="radio" name="rating" id="stars-2" value="2">
                    <label class="rating__label" for="stars-2" title="Give a rating of 2"></label>
                    <input class="rating__input" type="radio" name="rating" id="stars-1" value="1">
                    <label class="rating__label" for="stars-1" title="Give a rating of 1"></label>
            </div>
            <p class="footer-bottom__copyright">Copyright © 2018 Dlk • Design Life Kids</p>
            <a href="/" class="footer-bottom__web-desing" title="Go to Direct Line">
                <span>Web Design — Direct Line Development</span>
            </a>
        </div>
    </div>
</footer>
