.navigation {
  padding-left: 109px;
  padding-bottom: 33px;

  &__title {
    margin: 18px 0px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1e0606;
  }

  &__breadcrumbs {
    display: flex;
  }

  &__link {
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;

    transition: opacity 0.4s linear;

    &_disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.5;
    }
  }
  &__item::after {
    content: url(/static/images/Vector-Stroke.png);
    padding-left: 17px;
    padding-right: 20px;
  }
}

.filter {
  width: 100%;
  height: 254px;
  background-color: rgba(125, 151, 218, 0.2);

  &__form {
    padding: 42px 195px 0px 110px;
    display: flex;
  }

  &__button {
    margin-left: 52px;

    margin-top: 35px;
    width: 95px;
    height: 40px;
  }
}

.coast {
  width: 206px;
  margin-right: 96px;
  display: flex;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
  }

  &__range {
    margin: 12px 0px 10px 6px;
  }

  &__input {
    cursor: pointer;
    -webkit-appearance: none;
    width: 188px;
    height: 4px;
    background: -webkit-linear-gradient(
      left,
      #c29974 0%,
      #c29974 24%,
      #000000 35%,
      #000000 100%
    );
    border-radius: 4px;
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 28px;
    background-image: url(/static/images/range.png);
  }

  &__start {
    font-style: normal;
    font-weight: normal;
  }

  &__end {
    font-style: normal;
    font-weight: normal;
    margin: 0px -11px;
    float: right;
  }
}

.color {
  margin-right: 157px;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
  }

  &__list {
    margin-top: 19px;
  }

  &__item {
    margin-left: -1px;
    margin-top: 17px;
    display: flex;
    padding-bottom: 20px;
  }

  &__text {
    position: relative;
    top: -2px;

    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  &__input {
    opacity: 0;
    position: absolute;

    &:focus + label {
      outline: 1px solid rgb(0, 0, 0);
    }
  }

  &__label {
    content: "";
    display: block;
    margin-top: -4px;
    margin-left: -1px;
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    &::before {
      display: inline-block;
      content: "";
      width: 19px;
      height: 19px;
      border: 2px solid #c29974;
      box-sizing: border-box;
      border-radius: 3px;
      margin-right: 10px;
      margin-bottom: -1px;
      background-color: white;
    }

    &::after {
      content: url(/static/images/Vector-contact-us-chack-box.png);
      position: absolute;
      left: 3px;
      top: -2px;
    }
  }

  &__input:checked + &__label::before {
    content: "";
    background-color: transparent;
  }

  &__input:checked + &__label::after {
    content: "";
  }
}

.delivery {
  margin-right: 68px;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
  }

  &__list {
    display: block;
  }
  &__item {
    display: flex;
    margin-left: -7px;
    margin-bottom: 14px;
  }

  &__item input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  &__item input[type="radio"]:focus + label {
    outline: 1px solid rgb(0, 0, 0);
  }

  &__item label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    line-height: 18px;

    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 5px;
      bottom: -1px;
      background: url(/static/images/delivery-radio.png) 0 0 no-repeat;
    }
  }

  &__item input[type="radio"]:checked + label:before {
    background: url(/static/images/delivery-radio-chacked.png) 0 0 no-repeat;
  }
}

.amount {
  margin-right: 7px;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
  }

  &__list {
    display: flex;
  }

  &__item {
    cursor: pointer;
    display: inline-block;
  }
  &__item input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  &__item input[type="radio"]:focus + label {
    outline: 1px solid rgb(0, 0, 0);
  }

  &__item label {
    width: 81px;
    text-align: center;
    background-color: #ffffff;
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;

    transition: background-color 0.4s linear;

    &:hover {
      background-color: #eddeeb;
      opacity: 0.7;
    }
  }

  &__item input[type="radio"]:checked + label {
    background-color: #f3d0db;
  }
}

.grid-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    overflow: hidden;
    width: 33%;
    padding: 0px 14px 46px 0px;
  }
}

.toys {
  padding: 43px 90px 0px 110px;

  &__content {
    display: block;
  }
}

.pagination {
  padding-left: 103px;
  padding-right: 103px;
  justify-content: space-between;
  align-items: center;
  display: flex;

  &__btv {
    border: none;
    background-color: transparent;
    margin-top: -42px;
    cursor: pointer;

    &:focus path {
      stroke: #c29974;
    }

    &:hover path {
      stroke: #c29974;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__list {
    display: flex;
    padding: 0px 18px 0px 65px;
  }

  &__item {
    padding-bottom: 45px;
    padding-right: 53px;
  }

  &__page {
    border: none;
    background-color: transparent;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: #1e0606;

    transition: opacity 0.4s linear;

    &:focus {
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.5;
    }

    &_current {
      pointer-events: none;
      color: #c29974;
    }
  }
}
