@import "./../../components/vars";

.navigation {
  padding-bottom: 33px;

  @media screen and (max-width: $md) {
    padding-top: 30px;
  }

  @media screen and (max-width: $sm) {
    padding-top: 5px;
  }

  &__title {
    margin: 18px 0px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1e0606;

    @media screen and (max-width: $md) {
      font-size: 36px;
      line-height: 44px;
    }

    @media screen and (max-width: $sm) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $md) {
      margin-top: -7px;
    }
  }

  &__link {
    font-family: "Crimson Text", "Arial", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;

    transition: opacity 0.4s linear;

    @media screen and (max-width: $sm) {
      font-size: 16px;
      line-height: 20px;
    }

    &_disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.5;
    }
  }
  &__item::after {
    content: url(/static/images/vector-stroke.svg);
    padding: 0 18px;

    @media screen and (max-width: $sm) {
      content: url(/static/images/vector-stroke-mobile.svg);
      padding: 0px 12px;
    }
  }
}

.filter {
  width: 100%;
  min-height: 254px;
  background-color: rgba(125, 151, 218, 0.2);

  @media screen and (max-width: $md) {
    min-height: 325px;
    margin-top: -22px;
  }

  @media screen and (max-width: $sm) {
    min-height: 100%;
  }

  @media screen and (max-width: 375px) {
    min-height: 440px;
    margin-top: -29px;
  }

  &__form {
    flex-wrap: wrap;
    padding-top: 41px;
    padding-right: 25px;
    display: flex;

    @media screen and (max-width: $md) {
      padding-top: 32px;
      justify-content: space-between;
    }

    @media screen and (max-width: 768px) {
      padding-top: 32px;
      justify-content: start;
    }

    @media screen and (max-width: $sm) {
      padding-top: 20px;
      padding-left: 21px;
    }
  }

  &__button {
    margin-top: 37px;
    width: 95px;
    height: 40px;

    @media screen and (max-width: $sm) {
      margin: 8px auto 24px auto;
    }
  }
}

.coast {
  margin-right: 5.9vw;
  max-width: 188px;
  width: 100%;

  @media screen and (max-width: $md) {
    margin-right: 93px;
  }

  @media screen and (max-width: $sm) {
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    @media screen and (max-width: $sm) {
      margin-top: 4px;
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__range {
    max-width: 188px;
    width: 100%;
    max-height: 20px;
    margin: 14px 0 14px 6px;

    @media screen and (max-width: $sm) {
      margin: 9px 0 10px 6px;
    }
  }

  &__input {
    cursor: pointer;
    max-width: 188px;
    width: 100%;
    appearance: none;
    background: transparent;
    padding: 0;

    &::-webkit-slider-thumb {
      margin-top: -10px;

      appearance: none;
      height: 24px;
      width: 24px;
      background-image: url(/static/images/range.png);
    }

    &::-webkit-slider-runnable-track {
      cursor: pointer;
      appearance: none;
      width: 188px;
      height: 4px;

      background: -webkit-linear-gradient(
        left,
        #c29974 0%,
        #c29974 24%,
        #000000 35%,
        #000000 100%
      );
      border-radius: 4px;
    }

    &::-moz-range-track {
      height: 4px;
      background: -webkit-linear-gradient(
        left,
        #c29974 0%,
        #c29974 24%,
        #000000 35%,
        #000000 100%
      );
      border-radius: 4px;
    }

    &::-moz-range-thumb {
      appearance: none;
      height: 24px;
      width: 24px;
      border: none;
      background-image: url(/static/images/range.png);
    }

    &::-ms-thumb {
      -ms-appearance: none;
      background: none;
      border: 0;
      height: 24px;
      width: 24px;
      background-image: url(/static/images/range.png);
    }

    &::-ms-track {
      cursor: pointer;
      -ms-appearance: none;
      width: 188px;
      height: 4px;
      background: -webkit-linear-gradient(
        left,
        #c29974 0%,
        #c29974 24%,
        #000000 35%,
        #000000 100%
      );

      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    &::-ms-fill-upper {
      background: #000000;
    }
    &::-ms-fill-lower {
      background: #c29974;
    }
    &:focus::-ms-fill-lower {
      background: #c29974;
    }
    &:focus::-ms-fill-upper {
      background: #000000;
    }
  }

  &__start {
    @media screen and (max-width: $sm) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__end {
    margin-right: -17px;
    float: right;

    @media screen and (max-width: $md) {
      margin-right: -9px;
      font-size: 14px;
      line-height: 19px;
    }

    @media screen and (max-width: $sm) {
      margin-right: -14px;
    }
  }
}

.colors {
  margin-right: 8.2vw;

  @media screen and (max-width: $md) {
    margin-right: 124px;
  }

  @media screen and (max-width: $sm) {
    margin-top: 25px;
    margin-right: 140px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    @media screen and (max-width: $sm) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__list {
    margin-top: 19px;

    @media screen and (max-width: $sm) {
      margin-top: 14px;
    }
  }

  &__item {
    margin-left: -1px;
    margin-top: 17px;
    display: flex;
    padding-bottom: 20px;

    @media screen and (max-width: $sm) {
      margin-left: 1px;
      margin-top: 10px;
    }
  }

  &__text {
    position: relative;
    top: -2px;

    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    @media screen and (max-width: $sm) {
      font-size: 14px;
      left: -3px;
    }
  }

  &__input {
    opacity: 0;
    position: absolute;

    &:focus + label {
      outline: 1px solid rgb(0, 0, 0);
    }
  }

  &__label {
    content: "";
    display: block;
    margin-top: -4px;
    margin-left: -1px;
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    &:hover {
      text-decoration: underline;
      color: #000000;
    }

    &::before {
      display: inline-block;
      content: "";
      width: 19px;
      height: 19px;
      border: 2px solid #c29974;
      box-sizing: border-box;
      border-radius: 3px;
      margin-right: 10px;
      margin-bottom: -1px;
      background-color: white;

      @media screen and (max-width: $sm) {
        width: 17px;
        height: 17px;
      }
    }

    &::after {
      content: url(/static/images/vector-contact-us-chack-box.png);
      position: absolute;
      left: 3px;
      top: -1.5px;

      @media screen and (max-width: $sm) {
        content: url(/static/images/vector-contact-us-chack-box-m.png);
      }
    }
  }

  &__input:checked + &__label::before {
    content: "";
    background-color: transparent;
  }

  &__input:checked + &__label::after {
    content: "";
  }
}

.delivery {
  margin-right: 3.7vw;

  @media screen and (max-width: $md) {
    margin-right: 0;
  }

  @media screen and (max-width: $sm) {
    margin-top: 25px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    @media screen and (max-width: $sm) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__list {
    display: block;

    @media screen and (max-width: $sm) {
      margin-top: 12px;
    }
  }
  &__item {
    display: flex;
    margin-left: -7px;
    margin-bottom: 14px;

    @media screen and (max-width: $sm) {
      margin-left: -6px;
      margin-bottom: 13px;
    }
  }

  &__text {
  }

  &__item input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  &__item input[type="radio"]:focus + label {
    outline: 1px solid rgb(0, 0, 0);
  }

  &__item label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    line-height: 18px;

    @media screen and (max-width: $sm) {
      padding-left: 27px;
      font-size: 14px;
      line-height: 19px;
    }

    &:hover {
      text-decoration: underline;
      color: #000000;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 5px;
      bottom: -1px;
      background: url(/static/images/delivery-radio.png) 0 0 no-repeat;

      @media screen and (max-width: $sm) {
        width: 16px;
        height: 16px;
        left: 5px;
        bottom: 1px;
        background: url(/static/images/delivery-radio-m.png) 0 0 no-repeat;
      }
    }
  }

  &__item input[type="radio"]:checked + label:before {
    background: url(/static/images/delivery-radio-chacked.png) 0 0 no-repeat;

    @media screen and (max-width: $sm) {
      background: url(/static/images/delivery-radio-chacked-m.png) 0 0 no-repeat;
    }
  }
}

.amount {
  margin-right: 2.9vw;

  @media screen and (max-width: $md) {
    margin-right: 206px;
    margin-top: 5px;
  }

  @media screen and (max-width: $sm) {
    margin-right: 0px;
    margin-top: 6px;
    width: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    @media screen and (max-width: $sm) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__list {
    display: flex;

    @media screen and (max-width: $sm) {
      margin-top: 12px;
      flex-wrap: wrap;
    }
  }

  &__item {
    cursor: pointer;
    display: inline-block;
  }
  &__item input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  &__item input[type="radio"]:focus + label {
    outline: 1px solid rgb(0, 0, 0);
  }

  &__item label {
    width: 81px;
    text-align: center;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;

    transition: background-color 0.4s linear;

    @media screen and (max-width: $sm) {
      width: 80px;
      font-size: 14px;
      padding-left: 8px;
      line-height: 19px;
      height: 29px;
    }

    &:hover {
      background-color: #eddeeb;
      opacity: 0.7;
    }
  }

  &__item input[type="radio"]:checked + label {
    background-color: #f3d0db;
  }
}

.toys {
  padding-top: 42px;

  @media screen and (max-width: $md) {
    padding-top: 35px;
  }

  @media screen and (max-width: $sm) {
    padding-top: 23px;
  }

  &__content {
    display: block;
  }
}

.pagination {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 24px;

  @media screen and (max-width: $md) {
    margin: -37px 0 12px 0;
  }

  @media screen and (max-width: $sm) {
    margin: -15px 0 17px 0;
  }

  &__btv {
    border: none;
    background-color: transparent;
    margin: 5px -6px 0 -8px;

    @media screen and (max-width: $sm) {
      margin: -7px -6px 0 -8px;
    }

    cursor: pointer;

    &:focus path {
      stroke: #c29974;
    }

    &:hover path {
      stroke: #c29974;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__btv-svg {
    @media screen and (max-width: $sm) {
      width: 17px;
      height: 28px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 26px 25px 2px 25px;

    @media screen and (max-width: $sm) {
      padding: 8px 24px 0px 11px;
    }
  }

  &__item {
    padding: 0px 27px 20px 27px;

    @media screen and (max-width: $sm) {
      padding-right: 13px;
      padding-left: 26px;
    }
  }

  &__page {
    cursor: pointer;

    border: none;
    background-color: transparent;

    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1e0606;

    transition: opacity 0.4s linear;

    @media screen and (max-width: $sm) {
      font-size: 14px;
      line-height: 17px;
    }

    &:focus {
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.5;
    }

    &_current {
      pointer-events: none;
      color: #c29974;
    }
  }
}
