.blog-item {
    margin-right: 20px;
    margin-bottom: 30px;
    display: block;
    max-width: 380px;
  }
  
  .block-item-img {
    margin-bottom: 20px;
  }
  
  .blog-item-date {
    padding-bottom: 7px;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
  }
  
  .blog-item-bold-text {
    cursor: pointer;
    padding-bottom: 15px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 24px;
    line-height: 31px;
    color: #1e0606;
  }
  
  .block-item-link:hover,
  .block-item-link:active {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: #000000;
  }
  
  .blog-item-description {
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;
  }
  